.card {
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 500px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  .description {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-details {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    & h2 {
      opacity: 1;
      color: black;
    }
    & .card-info p {
      display: inline-block;
      flex-direction: row;
      margin: 0px 20px;
      color: black;
    }
    .card-dates {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 20px;
      .card-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px;
        color: black;
        p:first-child {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  &:hover .card-details {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    opacity: 1;
  }
  .card-buttons {
    display: flex;
    justify-content: center;
    margin: 5rem 5rem;
    button {
      padding: 10px 20px;
      border-radius: 25px;
      border: none;
      outline: none;
      font-size: 1em;
      font-weight: 500;
      background: #025a7d;
      color: #fff;
      cursor: pointer;
    }
    button:last-child {
      margin-left: 1rem;
    }
  }
}
