.container-localisation {
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
  
    div {
      position: relative;
      width: 160px;
      height: 200px;
      padding: 5%;
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
      }
  
      h2 {
        position: absolute;
        top: 15px;
        left: 10px;
        color: #fff;
        font-size: 1rem;
        z-index: 1;
      }
  
      &:hover img {
        transform: scale(1.05);
      }
    }
  }