.navBar {
  height: 75px;
  background-color: #444444;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  height: 75px;
  .identity {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10vw;
    .LogoDiv {
      box-shadow: 2px 1px 2px black;
      border-right: 2px solid blanchedalmond;
      .logo {
        padding: 0 0 0 0.3rem;
        width: 5.5vw;

        filter: drop-shadow(3px 1px 2px rgb(0, 0, 0));
        margin: 0.3rem 1rem 0 0;
      }
    }
    .title {
      font-family: "Orbitron", sans-serif;
      margin: 0 0 0 0.7rem;
      color: blanchedalmond;
      font-size: 3vh;
      font-style: italic;
    }
  }
  .Nav_Links {
    transition: 1s ease-out;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 60vw;
    bottom: 0;
    height: 20px;
    align-items: center;
    background-color: inherit;
    visibility: visible;
  }
  .NavLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 20px;
    position: relative;
    color: blanchedalmond;
    text-decoration: none;
  }
  .NavLink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 6px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: top;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  .NavLink:hover::before {
    transform-origin: bottom;
    transform: scaleX(1);
  }
  .NavLink:hover {
    color: white;
  }
}
