@import "assets/scss/Card.scss";
@import "assets/scss/_variables.scss";
@import "assets/scss/_mixins/reset.scss";
@import "assets/scss/Home.scss";
@import "assets/scss/Localisation.scss";
@import "assets/scss/LocalisationPage.scss";
@import "assets/scss/CardList.scss";
@import "assets/scss/NavBar.scss";
@import "assets/scss/LocationCard";
@import "assets/scss/UsersList.scss";
@import "assets/scss/Login.scss";
@import "assets/scss/Profil.scss";
@import "assets/scss/FavoritePage.scss";

